---
title: false
styles: true
---
$backgroundColour: #0c0312;
$codeBackgroundColour: #dac5e3;
$linkColour: #732194;
$accentColour: #732194;
$headingColour: #006d77;
$bodyColour: #d6ba73;
$hoverColour: #bf05bc;
$captionColour: #b3365d;

$headingtype: (
  font-family: '"Helvetica", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$bodytype: (
  font-family: "Trebuchet MS, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

@import "alembic";

