---
title: false
styles: true
---
$backgroundColour: #0c0312;
$codeBackgroundColour: #dac5e3;
$linkColour: #732194;
$accentColour: #732194;
$headingColour: #006d77;
$bodyColour: #d6ba73;
$hoverColour: #bf05bc;
$captionColour: #b3365d;
@import "alembic";

